body {
  background-color: rgb(222, 222, 222);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}
h1 {
  color: darkblue;
  font-size: 36px;
}
h2 {
  color: darkgreen;
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}
.center {
  font-family: "pixel", monospace;
}
.button {
  margin-top: 80px;
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
.button:hover {
  background-color: darkgray;
  color: black;
}
